<div class="box item3">
    <h3>Lorem dolar</h3>
    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, esse? In exercitationem
        voluptate, aspernatur quos porro consequatur aperiam, odit non dolorum, cum vel fugit aut.
        Blanditiis nostrum sed quasi placeat?</p>
    <h3>Loren ipsum</h3>
    <p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, excepturi neque
        officia ratione
        obcaecati, quas iste quod eos ut velit libero odio, culpa ipsa! Sit facere sapiente officia iure
        inventore.</p>
</div>